Addition
<br />


<form action="AddDisplay" method="post">
    FirstNumber<input type="number" name="a" /><br />
    SecondNumber<input type="number" name="b" /><br />
    <input type="submit" />

</form>